<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <remove name="iisnode" />
      <add name="iisnode" path="server.cjs" verb="*" modules="iisnode" resourceType="Unspecified" requireAccess="Script" />
    </handlers>
    <rewrite>
      <rules>
        <rule name="IisnodeLogs" patternSyntax="ECMAScript" stopProcessing="true">
          <match url="^iisnode" />
        </rule>
        <rule name="NodeApp" stopProcessing="true">
          <match url=".*" />
          <action type="Rewrite" url="server.cjs" />
        </rule>
      </rules>
    </rewrite>
    <defaultDocument enabled="false" />
    <iisnode
      node_env="production"
      loggingEnabled="true"
      logDirectory="iisnode"
      devErrorsEnabled="true"
      watchedFiles="web.config;server.cjs;dist\server.cjs"
    />
  </system.webServer>
</configuration>
